<div>
  <input type="radio" id="getAllUsers" name="method" value="getAllUsers">
  <label for="getAllUsers">Получить всех</label><br>
  <input type="radio" id="getUser" name="method" value="getUser">
  <label for="getUser">Получить пользователя</label><br>
  <input type="radio" id="createUser" name="method" value="createUser">
  <label for="createUser">Создать пользователя</label><br>
  <input type="radio" id="deactivateUser" name="method" value="deactivateUser">
  <label for="deactivateUser">Деактивировать пользователя</label><br>
  <input type="radio" id="activateUser" name="method" value="activateUser">
  <label for="activateUser">Активировать пользователя</label><br>
</div>
<mat-divider></mat-divider>
<div id="getAllUsersDiv" style="display:none;">
    <button mat-flat-button color="primary" (click)="getAllUsers()">Получить всех</button>
  </div>

  <div id="getUserDiv" style="display:none;">
    <mat-form-field>
      <input matInput [(ngModel)]="userId" placeholder="Введите ID пользователя">
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="getUser()">Получить пользователя</button>
  </div>


  <div id="deactivateUserDiv" style="display:none;">
    <mat-form-field>
      <input matInput [(ngModel)]="userId" placeholder="Введите ID пользователя">
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="deactivateUser()">Деактивировать пользователя</button>
  </div>

  <div id="activateUserDiv" style="display:none;">
    <mat-form-field>
      <input matInput matInput [(ngModel)]="userId" placeholder="Введите ID пользователя">
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-flat-button color="primary" (click)="activateUser()">Активировать пользователя</button>
  </div>

  <div id="createUserDiv" style="display:none;">
    <form>
      <mat-form-field>
        <mat-label>ID:</mat-label><br>
        <input matInput [(ngModel)]="postId" type="text" id="id" name="id"><br>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Name:</mat-label><br>
        <input matInput [(ngModel)]="postName" type="text" id="name" name="name"><br>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Contact ID:</mat-label><br>
        <input matInput [(ngModel)]="postContact" type="text" id="contactId" name="contactId"><br>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Account ID:</mat-label><br>
        <input matInput [(ngModel)]="postAccount" type="text" id="accountId" name="accountId"><br>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Email:</mat-label><br>
        <input matInput [(ngModel)]="postEmail" type="email" id="email" name="email"><br>
      </mat-form-field>
      <mat-divider></mat-divider>
      <button mat-flat-button color="primary" (click)="postUser()">Создать пользователя</button>
    </form>
  </div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
      </tr>
    </tbody>
  </table>

  <script src="scripts.js" type="module"></script>
